.level{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.PrdtBtn{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
}
.PrdtBtn:hover{
    background-color: greenyellow;
    color: white;
}
.level h1{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}